@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600;700&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
}

/* Login page backround */
.background-bottom {
    background: url('./assets/background-image.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}